.App {
    font-family: "PT Serif", serif;
    background-color: #F2F0EF;
    min-height: 100vh;
}

.Main {
    padding-top: 70px;
}

a {
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: #92A597;
  text-decoration: none;
}

.Content {
  justify-content: center;
}